<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.traning.blog.mapper.BlogTagsMapper">

    <insert id="save" parameterType="com.traning.blog.pojo.BlogTags">
        insert into t_blog_tags (blog_id, tag_id)
        values (#{blogId}, #{tagId})
    </insert>

    <delete id="deleteByBlogId">
        delete from t_blog_tags
        where blog_id = #{id}
    </delete>

    <delete id="deleteByTagId">
        delete from t_blog_tags
        where tag_id = #{id}
    </delete>
</mapper>