<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.traning.blog.mapper.TagMapper">

    <select id="selectAllTags" resultType="com.traning.blog.pojo.Tag">
        select id, name
        from t_tag
        order by id desc
    </select>

    <select id="selectById" resultType="com.traning.blog.pojo.Tag">
        select id,name
        from t_tag
        where id = #{id}
    </select>

    <select id="getTagByName" resultType="com.traning.blog.pojo.Tag">
        select id,name
        from t_tag
        where name = #{name}
    </select>

    <insert id="addTag" parameterType="com.traning.blog.pojo.Tag">
        insert into t_tag(id,name)
        values (#{id},#{name})
    </insert>

    <update id="updateTag" parameterType="com.traning.blog.pojo.Tag">
        update t_tag
        set name = #{name}
        where id = #{id}
    </update>

    <delete id="deleteTagById">
        delete from t_tag
        where id = #{id}
    </delete>

    <resultMap id="indexTagResult" type="com.traning.blog.pojo.Tag">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="blogs" ofType="com.traning.blog.pojo.Blog">
            <id property="id" column="blogid"/>
            <result property="title" column="title"/>
        </collection>
    </resultMap>
    <select id="getIndexTags" resultMap="indexTagResult">
        select t.id,t.name,
               b.id blogid,b.title
        from t_blog b, t_tag t, t_blog_tags bt
        where b.id = bt.blog_id and t.id = bt.tag_id
    </select>
</mapper>